@model PruebaMongo.ViewModels.PropertyDetailViewModel;

@{
    ViewData["Title"] = "Detalle";
    Property property = Model.Property;
    User user = Model.User;
}
<style>
    .date-button {
        display: inline-block;
        margin-right: 5px;
    }

        .date-button input[type="radio"] {
            display: none;
        }

        .date-button label {
            display: block;
            padding: 10px 20px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            cursor: pointer;
            border-radius: 30px;
        }

        .date-button input[type="radio"]:checked + label {
            background-color: #007bff;
            color: #fff;
        }

    #solicitarVisita {
        display: none;
    }

    .botones {
        margin-left: 25%;
    }
</style>
<div class="container">

    <h1>Detalle</h1>

    <div>
        <h4>@property.Titulo</h4>

        <form method="post" asp-controller="User" asp-action="TogglePropertyFavorite">
            <input type="hidden" name="propertyId" value="@property.Id" />
            <button type="submit" class="btn btn-link">
                <img style="z-index:1111; cursor: pointer;" width="35" height="35" src=@(user.FavouritesProperties.Contains(property) ? "/Assets/filled-star.svg" : "/Assets/unfilled-star.svg") alt="star" />
            </button>
        </form>

        <hr />
        <div class="row">
            <div class="col-lg-4">
                <img class="w-100" src="@(property.Imagen != null ? property.Imagen : "/Assets/default-house-image.jpg")" />
            </div>
            <div class="col-lg-8 mt-4 mt-lg-0">
                <h4>Contacto</h4>
                <p>@property.Agente.Nombre</p>
                <p>Tel: @property.Agente.Telefono</p>
                <p>Email: @property.Agente.Email</p>

                <h4>Dirección</h4>
                <p>@property.Ubicacion.Provincia, @property.Ubicacion.Localidad</p>
                <p>@property.Ubicacion.Calle, @property.Ubicacion.Numero, CP: @property.Ubicacion.CodigoPostal</p>
                <p>Piso: @property.Ubicacion.Piso,Departamento: @property.Ubicacion.Departamento</p>
                <h5>USD$@property.Precio</h5>

                <div class="row flex-wrap">
                    <div class="card col-6 col-md">
                        <div class="card-body text-center">
                            <img src="/images/icons/area.png" class="w-50" />
                            <h5>Superficie</h5>
                            <p>@property.MetrosCuadrados mts.</p>
                        </div>
                    </div>
                    <div class="card col-6 col-md">
                        <div class="card-body text-center">
                            <img src="/images/icons/ambientes.png" class="w-50" />
                            <h5>Ambientes</h5>
                            <p>@property.Habitaciones</p>
                        </div>
                    </div>
                    <div class="card col-6 col-md">
                        <div class="card-body text-center">
                            <img src="/images/icons/baños.png" class="w-50" />
                            <h5>Baños</h5>
                            <p>@property.Banos</p>
                        </div>
                    </div>

                    <div class="card col-6 col-md">
                        <div class="card-body text-center px-2">
                            <img src="/images/icons/cocheras.png" class="w-50" />
                            <h5>Cochera</h5>
                            <p>@(property.Garaje ? "1" : "0")</p>
                        </div>
                    </div>

                </div>

                <div class="my-2 float-end">
                    <button class="btn btn-primary" id="reservar">RESERVAR VISITA</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4">
        <h4>Descripción</h4>
        <p>@property.Descripcion</p>
    </div>

    <div>
        <a asp-action="Listar" asp-controller="Property">Volver a la lista</a>
    </div>
</div>

<div id="solicitarVisita">
    <div class="container text-center">
        <form asp-controller="Visita" asp-action="AgendarVisita" method="post">
            <!-- Dias -->
            <div class="container text-center" id="dias">
                <h3 class="py-3">Solicitar visita:</h3>

            </div>

            <!-- Rango Horario -->
            <div class="container text-center py-3">
                <div class="date-button">
                    <input type="radio" value="Mañana" id="mañana" name="RangoHorario" required>
                    <label for="mañana">Por la mañana</label>
                </div>
                <div class="date-button">
                    <input type="radio" value="Tarde" id="tarde" name="RangoHorario" required>
                    <label for="tarde">Por la tarde</label>
                </div>

            </div>

            <!-- Datos del usuario -->
            <div class="row g-3 w-50 d-inline-flex">
                <div class="col-12">
                    <input type="email" class="form-control" id="email" name="Email" placeholder="Email" required>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="nombre" name="Nombre" placeholder="Nombre" required>
                </div>
                <div class="col-md-6">
                    <input type="tel" class="form-control" id="telefono" name="Telefono" placeholder="Teléfono" required>
                </div>

            </div>

            <div class="row g-3 w-50 py-3 botones">
                <div class="col-md-6">
                    <button type="button" class="btn btn-danger w-100" id="cancelar">Cancelar</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary w-100">Solicitar visita</button>
                </div>
            </div>

        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        (function () {
            let fecha = (function () {
                let now = new Date();
                return new Date(now.setDate(now.getDate() - now.getDay() - -1));
            })();

            let meses = [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Septiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
            ];

            let semana = Array(5).fill(fecha).map(function (fecha, i) {
                if (i !== 0) {
                    fecha.setDate(fecha.getDate() + 1);
                }
                let name = fecha.toLocaleDateString('es-ES', { weekday: 'long' });
                return {
                    "dia": name.charAt(0).toUpperCase() + name.slice(1),
                    "numero": fecha.getDate(),
                    "mesNumero": fecha.getMonth() + 1,
                    "mes": meses[fecha.getMonth()]
                };
            });

            let contador = 0;
            let seccionDias = document.getElementById("dias");

            semana.forEach(function (dia) {
                contador++;
                let div = document.createElement('div');
                div.className = 'date-button';
                let input = document.createElement('input');
                input.type = 'radio';
                input.id = 'date' + contador;
                input.name = 'Fecha';
                input.value = dia.numero + '/' + dia.mesNumero;
                let label = document.createElement('label');
                label.htmlFor = 'date' + contador;
                label.textContent = dia.dia + ' ' + dia.numero + '/' + dia.mesNumero;
                div.appendChild(input);
                div.appendChild(label);
                seccionDias.appendChild(div);
            });
            console.log(semana);
        })();

        let dateButtons = document.getElementsByClassName('date-button');
        let fechaSeleccionada;

        for (let i = 0; i < dateButtons.length; i++) {
            dateButtons[i].addEventListener('click', function () {
                let siblings = this.parentNode.children;
                for (let j = 0; j < siblings.length; j++) {
                    siblings[j].classList.remove('active');
                }
                this.classList.toggle('active');

                // Mostrar por consola la fecha seleccionada
                let label = this.querySelector('label');
                fechaSeleccionada = label.textContent;
                console.log("Fecha seleccionada:", fechaSeleccionada);
            });
        }

        document.getElementById("reservar").addEventListener("click", function () {
            let seccionSolicitarVisita = document.getElementById("solicitarVisita");
            seccionSolicitarVisita.style.display = "block";
        });

        document.getElementById("cancelar").addEventListener("click", function () {
            let seccionSolicitarVisita = document.getElementById("solicitarVisita");
            seccionSolicitarVisita.style.display = "none";
        });

    });

</script>