@model List<Property>;

<div class="">
    <partial name="_vpBuscadorView"></partial>
</div>

<div class="container my-5">
    <h1 class="mb-4">Resultados</h1>
    @if (Model.Count > 0)
    {

        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var propiedad in Model)
            {
                <a href="/Property/Detalle/@propiedad.Id" class="text-decoration-none text-black">
                    <div class="col">
                        <div class="card">
                            <img src=@(propiedad.Imagen != null ? propiedad.Imagen : "/Assets/default-house-image.jpg") height="250" width="250" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@propiedad.Titulo</h5>

                                <p class="card-text">Ubicacion: @propiedad.Ubicacion.Provincia, @propiedad.Ubicacion.Localidad</p>
                                <p class="card-text">Metros Cuadrados: @propiedad.MetrosCuadrados</p>
                                <p class="card-text">Baños: @propiedad.Banos</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">USD$ @propiedad.Precio</small>

                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>

    }
else
{
    <p>No se encontraron propiedades.</p>
}

</div>

<div class="">
    <partial name="_vpNosotrosView"></partial>
</div>

<div class="">
    <partial name="_vpFooterView"></partial>

</div>